![TEW, Numpy, Pandas & Matplotlib](assets/tew.png)

## 38 Geographic Choropleth Maps in Python Using Plotly & Pandas 

In this tutorial on python for data science, you will learn about how to create geographic maps in python. We will be creating choropleth maps using plotly in python using jupyter notebook.

Plotly maps are...
- Interactive - Still not usre what this means
- Web friendly
- Easily shareable

Two main object types in Plotly mapping...
- Data object - A list object that cantains a dictionary specifying each of the parameters for the map's data
- Layout object - A nested dictionary object that specifies each of the parameters for the map's layout

Two main types of maps...
- **Choropleth map** - A geographical map where spatial areas are coloured in hues that represent the quantity of a given attribute in the specific geographic region
    - Requirements...
        - Use the "code" parameter to select geographical area by name (like "US States")
        - Data Parameter : type = 'choropleth'
- **Points map** - Are geographic maps with dots placed at specific spatial locations that represent data points. Sot size, colour or shape can be varied to add a layer of comparative detail when you look at the map
    - Requirements...
        - Precise x,y position data for each observation 
        - A "marker" parameter (instead of a z parameter)
        - Data parameter: type = 'Scattergeo'

In [1]:
#As always, we first set up our JN with our imports and settings...
import numpy as np
import pandas as pd

import plotly.plotly as py
import plotly.tools as tls
import plotly.graph_objs as go

To actually use ploty, you need to pass in your username and API key from the plotly website...

In [2]:
#First we need to call the ``set_credential`` function from the toolkit#
tls.set_credentials_file(username = 'bredlplotly', api_key = '4jBdfwVO9M6TzpBaTgSb')

In [3]:
#Importing our plotting data...
address = 'datasets/states.csv'
states = pd.read_csv(address, sep = '\t')
states.columns = ['code', 'region', 'pop', 'SATV', 'SATM', 'percent', 'dollars', 'pay']
states.head()

  code region    pop  SATV  SATM  percent  dollars  pay
0   AL    ESC   4041   470   514        8    3.648   27
1   AK    PAC    550   438   476       42    7.887   43
2   AZ    MTN   3665   445   497       25    4.231   30
3   AR    WSC   2351   470   511        6    3.334   23
4   CA    PAC  29760   419   484       45    4.826   39

**NOTE:** Even tho we are creating a map here there is no requirement for lattitude and longitude values...but we will need them for the points map (see below)

## Generating choropleth maps
We're gonna attach a new column to the df called text. This will allow us to see details about the state, from the df, as we hover over them with the mouse...

In [4]:
states['text'] = 'SATv '+states['SATV'].astype(str) + ' ' + 'SATm ' + states['SATM'].astype(str) + '<br>' + \
'State ' + states['code']

data = [dict(type = 'choropleth', autocolorscale = False, locations = states['code'], z = states['dollars'], 
             locationmode = 'USA-states', text = states['text'], colorscale = 'custom-colorscale', 
             colorbar = dict(title = 'Thousand Dollars'))]
data # This is all the data that we are going to plot out

[{'type': 'choropleth', 'autocolorscale': False, 'locations': 0     AL
  1     AK
  2     AZ
  3     AR
  4     CA
  5     CO
  6     CN
  7     DE
  8     DC
  9     FL
  10    GA
  11    HI
  12    ID
  13    IL
  14    IN
  15    IA
  16    KS
  17    KY
  18    LA
  19    ME
  20    MD
  21    MA
  22    MI
  23    MN
  24    MS
  25    MO
  26    MT
  27    NE
  28    NV
  29    NH
  30    NJ
  31    NM
  32    NY
  33    NC
  34    ND
  35    OH
  36    OK
  37    OR
  38    PA
  39    RI
  40    SC
  41    SD
  42    TN
  43    TX
  44    UT
  45    VT
  46    VA
  47    WA
  48    WV
  49    WI
  50    WY
  Name: code, dtype: object, 'z': 0     3.648
  1     7.887
  2     4.231
  3     3.334
  4     4.826
  5     4.809
  6     7.914
  7     6.016
  8     8.210
  9     5.154
  10    4.860
  11    5.008
  12    3.200
  13    5.062
  14    5.051
  15    4.839
  16    5.009
  17    4.390
  18    4.012
  19    5.894
  20    6.184
  21    6.351
  22    5.257
  23    5.260
  24    3.322
  25    4.415
  26    5.184
  27    4.381
  28    4.564
  29    5.504
  30    9.159
  31    4.446
  32    8.500
  33    4.802
  34    3.685
  35    5.639
  36    3.742
  37    5.291
  38    6.534
  39    6.989
  40    4.327
  41    3.730
  42    3.707
  43    4.238
  44    2.993
  45    5.740
  46    5.360
  47    5.045
  48    5.046
  49    5.946
  50    5.255
  Name: dollars, dtype: float64, 'locationmode': 'USA-states', 'text': 0     SATv 470 SATm 514<br>State AL
  1     SATv 438 SATm 476<br>State AK
  2     SATv 445 SATm 497<br>State AZ
  3     SATv 470 SATm 511<br>State AR
  4     SATv 419 SATm 484<br>State CA
  5     SATv 456 SATm 513<br>State CO
  6     SATv 430 SATm 471<br>State CN
  7     SATv 433 SATm 470<br>State DE
  8     SATv 409 SATm 441<br>State DC
  9     SATv 418 SATm 466<br>State FL
  10    SATv 401 SATm 443<br>State GA
  11    SATv 404 SATm 481<br>State HI
  12    SATv 466 SATm 502<br>State ID
  13    SATv 466 SATm 528<br>State IL
  14    SATv 408 SATm 459<br>State IN
  15    SATv 511 SATm 577<br>State IA
  16    SATv 492 SATm 548<br>State KS
  17    SATv 473 SATm 521<br>State KY
  18    SATv 476 SATm 517<br>State LA
  19    SATv 423 SATm 463<br>State ME
  20    SATv 430 SATm 478<br>State MD
  21    SATv 427 SATm 473<br>State MA
  22    SATv 454 SATm 514<br>State MI
  23    SATv 477 SATm 542<br>State MN
  24    SATv 477 SATm 519<br>State MS
  25    SATv 473 SATm 522<br>State MO
  26    SATv 464 SATm 523<br>State MT
  27    SATv 484 SATm 546<br>State NE
  28    SATv 434 SATm 487<br>State NV
  29    SATv 442 SATm 486<br>State NH
  30    SATv 418 SATm 473<br>State NJ
  31    SATv 480 SATm 527<br>State NM
  32    SATv 412 SATm 470<br>State NY
  33    SATv 401 SATm 440<br>State NC
  34    SATv 505 SATm 564<br>State ND
  35    SATv 450 SATm 499<br>State OH
  36    SATv 478 SATm 523<br>State OK
  37    SATv 439 SATm 484<br>State OR
  38    SATv 420 SATm 463<br>State PA
  39    SATv 422 SATm 461<br>State RI
  40    SATv 397 SATm 437<br>State SC
  41    SATv 506 SATm 555<br>State SD
  42    SATv 483 SATm 525<br>State TN
  43    SATv 413 SATm 461<br>State TX
  44    SATv 492 SATm 539<br>State UT
  45    SATv 431 SATm 466<br>State VT
  46    SATv 425 SATm 470<br>State VA
  47    SATv 437 SATm 486<br>State WA
  48    SATv 443 SATm 490<br>State WV
  49    SATv 476 SATm 543<br>State WI
  50    SATv 458 SATm 519<br>State WY
  Name: text, dtype: object, 'colorscale': 'custom-colorscale', 'colorbar': {'title': 'Thousand Dollars'}}]

``states['text']`` - Creating a new column that will hold the information about the state that will be visible when we hover over that state<br>
``SATv`` - Label for the SATV information that wqill be displayed<br>
``states['SATV']`` - The column that will be used to provide the above information<br>
``astype.(str)`` - We are going to display this information as a string rather than anything else<br>
***
``type = 'chorpleth'`` - This is how we specify that we want to generate a choropleth map<br>
``autocolorscale = False`` - Allows us to be able to define our own colour scale<br>
``locations = states['code']`` - We specify the states'(df) code column because this is where the states abbreviations are<br>
``z = states['dollars']`` - This is the value that is represented by the colour bar in the map<br>
``locationmode = 'USA-states'`` - This tells plotly to generate a USA map and not some other geographic location<br>
``text = states['text']`` - This is the text that is displayed when you hover over a state that we generated in the new column to the df<br>
``colorscale = 'custom-colorscale'`` - This is the colour scale that we are going to use for the map colour bar

In [5]:
# The layout object (nested dictionary)
layout = dict(title = 'State Spending on Public Education ($k/Student)', geo = dict(scope = 'usa', 
              projection = dict(type = 'albers usa'), showlakes = True, lakecolor = 'rgb(65,165,245)',),)
layout # To see what information our layout object has

{'title': 'State Spending on Public Education ($k/Student)',
 'geo': {'scope': 'usa',
  'projection': {'type': 'albers usa'},
  'showlakes': True,
  'lakecolor': 'rgb(65,165,245)'}}

In [6]:
#New dict that contains both the data and layout objects
fig = dict(data = data, layout = layout)
py.iplot(fig, filename = 'First-Choropleth-Map')

## Generating Points Maps
Generating points maps is very similar to generating choropleth maps but some of the parameters are different. So, in an effort to keep things brief, we are only going to go over the things that are different.
As we said above, for points maps you need precise x,y position data for each observation. A list of state abbreviations won't work, so we need a new dataset...

In [7]:
#Importing our plotting data...
address = 'datasets/snow_inventory.csv'
# This is a huge dataset from every weather station in the USA 
snow = pd.read_csv(address, sep = '\t')
snow.columns = ['stn_id', 'lat', 'long', 'elev', 'code']

#...because it is so big, we are going to create a random sample of 200 data points and use this for our point map
snow_sample = snow.sample(n = 200, random_state = 25, axis = 0)
snow_sample.head()

           stn_id      lat     long   elev code
4479  USC00406292  36.4739 -81.8033  736.1   TN
2678  USC00237398  38.6856 -90.5231  137.2   MO
2902  USC00252820  40.0739 -97.1669  411.5   NE
2128  USC00170833  46.4283 -67.8442  128.0   ME
2138  USC00172878  47.2386 -68.6136  185.9   ME

In [8]:
# First we create our data dictionary for our plot...
data = [dict(type = 'scattergeo', locatiomode = 'USA-states', lon = snow_sample['long'], lat = snow_sample['lat'],
            marker = dict(size = 12, autocolorscale = False, colorscale = 'custom-color-scale', color = snow_sample['elev'],
                    colorbar = dict(title = 'Elevation (m)')))]

# Now we create the layout dictionary...
layout = dict(title = 'NOAA Weather Station Elevations', colorbar = True, geo = dict(scope = 'usa', 
                        projection = dict(type = 'albers usa'), showland = True, landcolor = "rgb(250,250,250)", 
                        subunitcolor = "rgb(217,217,217)", countrycolor = "rgb(217,217,217)", countrywidth = 0.5, 
                        subunitwidth = 0.5))

fig = dict(data = data, layout = layout)
py.iplot(fig, validate = False, filename = 'D3-Elevation')

``lon = snow_sample['long']`` - This is the longitude setting and is set to the long column in the snow_sample df<br>
``lat = snao_sample['lat']`` - Likewise for lattitude